# ASSIGNMENT 3 Q-2_LabTAT

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
Â 
 
##### Null-Hypothesis.           -    H0 = no difference in average TAT among the different laboratories
##### Alternate-Hypothesis.  -    Ha = there is difference in average TAT among the different laboratories

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

In [5]:
#Loading Dataset
lab=pd.read_csv("LabTAT.csv")

In [9]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
#Anova ftest statistics: Analysis of varaince between more than 2 samples or columns 
#Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)

f_onewaypvalue = stats.f_oneway(lab['Laboratory 1'],lab['Laboratory 2'],lab['Laboratory 3'],lab['Laboratory 4'])
f_onewaypvalue

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [13]:
#probability
f_onewaypvalue[1]

2.1156708949992414e-57

In [ ]:
#Result  :  P-value is Less than significance level so we accept the alternate hypothesis.


###The test shows that there is difference in average TAT among the different laboratories.