# ASSIGNMENT 3 Q-1_cutlet

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet
between two units. A randomly selected sample of cutlets was collected from both units and measured?
Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you 
carried out to check validity of the assumptions.



#### Null-Hypothesis.       -    H0 = no difference in diameter.
#### Alternate-Hypothesis.  -    Ha = there is difference in diameter.

In [15]:
#importing libraries
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

In [16]:
#Loading Dataset
cutlets=pd.read_csv("Cutlets.csv")

cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [17]:
cutlets = cutlets.rename(columns={'Unit A':'Unit_A','Unit B':'Unit_B'})

In [19]:
#2-sample 2-tail ttest:   stats.ttest_ind(array1,array2) 
p_value = stats.ttest_ind(cutlets['Unit_A'],cutlets['Unit_B'])
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [20]:
#probability
p_value[1]

0.4722394724599501

In [22]:
#Result  :  P-value is greater than significance level so we reject the alternate hypothesis.


###The test shows that there is no difference in the diameter of cutlets of Unit-A and Unit-B.